<h1>Hello TestController</h1>
<p>This is the test page.</p>

<p>If not specified, the template's name is formatted as 'ControllerName#ActionName', which was 'Demo#index' in this case. However. here the name has been changed to 'Hello World' </p>
