<h1>Hello world!</h1>
<p>If not specified, the template's name is formatted as 'ControllerName#ActionName', which was 'Demo#index' in this case. However. here the name has been changed to 'Hello World' </p>
<p>Find me in app/views/demo/index.html.erb</p>
